@use "variables";
@use "mixin";

footer{
    background-color: variables.$extra-light;
    .footer_container{
        display: grid;
        gap: 4rem 2rem;

        @include mixin.respond(sm){
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixin.respond(md){
            grid-template-columns: repeat(5, 1fr);
        }

        .footer-container-col{
            .footer_logo{
                display: block;
                margin-bottom: 2rem !important;
                font-size: 1.25rem;
                color: variables.$text-dark;
                font-weight: 800;
                span{
                    color: variables.$secondary-color;
                }
            }

            .footer-desc{
                font-size: 1rem;
                font-weight: 500;
                color: variables.$text-light;
                line-height: 1.5rem;
            }

            h3, h4{
                font-size: 1.2rem;
                font-weight: 700;
                color: variables.$text-dark;
                margin-bottom: 1rem;
            }

            .footer_socials{
                display: flex;
                gap: 0.5rem;

                a{
                    padding: 4px 6px;
                    border: 1px solid variables.$secondary-color;
                    color: variables.$secondary-color;
                    border-radius: 50%;

                    &:hover{
                        background-color: variables.$secondary-color;
                        color: variables.$white;
                    }
                }
            }

            .footer_links{
                display: grid;
                gap: 1rem;

                a{
                    font-size: 1rem;
                    font-weight: 500;
                    color: variables.$text-light;
                    display: flex;
                    gap: 0.5rem;
                    &:hover{
                        color: variables.$secondary-color;
                    }
                }
                i{
                    color: variables.$secondary-color;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .copyright{
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: variables.$text-light;
    }
}