@mixin respond($breakpoint){

    @if $breakpoint ==sm {
        @media (min-width: 540px) {
            @content;
        }
    }

    @if $breakpoint ==md {
        @media (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==lg{
        @media (min-width: 824px) {
            @content;
        }
    }

    @if $breakpoint ==xl{
        @media (min-width: 1024px) {
            @content;
        }
    }

}