@use "variables";
@use "mixin";

.portfolio{
    background-color: variables.$extra-light;
    overflow: hidden;

    &_header{
        display: grid;
        gap: 2rem;
        margin-bottom: 4rem;

        @include mixin.respond(md){
            grid-template-columns: repeat(2, 1fr);
        }
        h2{
            text-align: left;
            font-size: 2.5rem;
        }
        p{
            font-size: 1rem;
            font-weight: 500;
            color: variables.$text-light;
            line-height: 1.5rem;
        }
    }

    &_content{
        display: grid;
        gap: 2rem;

        @include mixin.respond(md){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &_image{
        position: relative;

        @include mixin.respond(md){
            grid: 1/2/2/3;
        }

        img{
            width: 100%;
            border-radius: 0.5rem;
        }

        &_content{
            position: absolute;
            background-color: variables.$secondary-color;
            top: 0;
            right: 2rem;
            transform: translateY(-50%);
            display: flex;
            border-radius: 0.25rem;
            padding-block: 1.5rem;
            color: variables.$white;

            div{
                padding-inline: 1.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                &:first-child{
                    border-right: 1px solid variables.$extra-light;
                }
                h4{
                    font-size: 2rem;
                    font-family: 700;
                }
                p{
                    font-size: 0.9rem;
                    color: variables.$extra-light;
                }
            }
        }
    }

    &_list{
        display: grid;
        gap: 2rem;
        li{
            display: flex;
            align-items: center;
            gap: 1rem;

            span{
                background-color: variables.$secondary-color;
                width: 5rem;
                aspect-ratio: 1;
                display: grid;
                place-items: center;
                color: variables.$white;
                font-size: 1.2rem;
                font-weight: 600;
                border-radius: 0.25rem;
            }

            div{
                h4{
                    margin-bottom: 0.5rem;
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: variables.$text-dark;
                }
                p{
                    font-size: 1rem;
                    font-weight: 500;
                    color: variables.$text-light;
                    line-height: 1.5rem;
                }
            }
        }
    }
}