.nav {
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
}
.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: #ff8906;
  max-width: 1200px;
  margin: 0 auto;
}
.nav_header .nav_logo a {
  font-size: 1.25rem;
  font-weight: 800;
  color: #ffffff;
  white-space: nowrap;
}
.nav_header .nav_links {
  background-color: #ff8906;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  z-index: -1;
  transform: translateY(-100%);
}
.nav_header .nav_links a {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}
.nav_header .nav_btn {
  display: none;
}
.nav_header .nav_menu_btn {
  background: none;
  cursor: pointer;
}
.nav_header .nav_menu_btn i {
  color: #ffffff;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .nav .nav_header {
    background-color: transparent;
  }
  .nav .nav_logo a {
    color: #e5306f;
  }
  .nav .nav_links {
    position: static;
    transform: translateY(0);
    flex-direction: row;
    background-color: transparent;
  }
  .nav .nav_links a {
    color: #767268;
  }
}
@media (min-width: 824px) {
  .nav .nav_btn {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.hero_container {
  display: grid;
  gap: 2rem;
  place-items: center;
}
@media (min-width: 768px) {
  .hero_container {
    grid-template-columns: repeat(2, 2fr);
  }
}
.hero_container .hero-image img {
  width: 100%;
  max-width: 550px;
  height: 100%;
}
.hero_container .hero_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero_container .hero_content_title {
  font-size: 4rem;
  font-weight: 700;
  color: #0e0d16;
  line-height: 4.75rem;
}
.hero_container .hero_content_title span {
  color: #e5306f;
}
.hero_container .hero_content_description {
  line-height: 1.5rem;
  font-size: 1.25rem;
}
.hero_container .hero_content_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero_container .hero_content_buttons a {
  font-size: 1rem;
  font-weight: 500;
  color: #0e0d16;
  display: flex;
  align-items: center;
  -moz-columns: 0.25rem;
       columns: 0.25rem;
}
.hero_container .hero_content_buttons a i {
  font-size: 2rem;
}

.services {
  background-color: #f7f8fd;
}
.services .section_header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}
.services_grid {
  display: grid;
  gap: 1rem;
  margin: 4rem 0;
}
@media (min-width: 540px) {
  .services_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .services_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
.services_grid .services-card {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
}
.services_grid .services-card:nth-child(1) div {
  background-color: #f0fdfa;
  color: #29d5be;
}
.services_grid .services-card:nth-child(2) div {
  background-color: #fff1f2;
  color: #fc637e;
}
.services_grid .services-card:nth-child(3) div {
  background-color: #faf5ff;
  color: #c27aff;
}
.services_grid .services-card:nth-child(4) div {
  background-color: #f0f9ff;
  color: #24bcff;
}
.services_grid .services-card div {
  padding: 5px 8px;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.services_grid .services-card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 700;
  color: #0e0d16;
}
.services_grid .services-card p {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  line-height: 1.5rem;
}

.about-container {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.about-container .about_image {
  max-width: 450px;
  margin-inline: auto;
}
.about-container .about_image img {
  width: 100%;
}
.about-container .about_content {
  margin: 2rem 0;
}
.about-container .about_content h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.about-container .about_content .about_list {
  display: grid;
  gap: 2rem;
}
.about-container .about_content .about_list li {
  display: flex;
  gap: 2rem;
}
.about-container .about_content .about_list li:nth-child(1) .left {
  background-color: #f0fdfa;
  color: #29d5be;
}
.about-container .about_content .about_list li:nth-child(2) .left {
  background-color: #fff1f2;
  color: #fc637e;
}
.about-container .about_content .about_list li:nth-child(3) .left {
  background-color: #faf5ff;
  color: #c27aff;
}
.about-container .about_content .about_list li .left {
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  padding: 5px;
  border-radius: 5px;
}
.about-container .about_content .about_list li .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-container .about_content .about_list li .right h4 {
  font-size: 1.125rem;
  font-weight: 700;
}
.about-container .about_content .about_list li .right p {
  color: #767268;
  font-weight: 500;
}

.portfolio {
  background-color: #f7f8fd;
  overflow: hidden;
}
.portfolio_header {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .portfolio_header {
    grid-template-columns: repeat(2, 1fr);
  }
}
.portfolio_header h2 {
  text-align: left;
  font-size: 2.5rem;
}
.portfolio_header p {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  line-height: 1.5rem;
}
.portfolio_content {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .portfolio_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
.portfolio_image {
  position: relative;
}
@media (min-width: 768px) {
  .portfolio_image {
    grid: 1/2/2/3;
  }
}
.portfolio_image img {
  width: 100%;
  border-radius: 0.5rem;
}
.portfolio_image_content {
  position: absolute;
  background-color: #e5306f;
  top: 0;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  border-radius: 0.25rem;
  padding-block: 1.5rem;
  color: #ffffff;
}
.portfolio_image_content div {
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.portfolio_image_content div:first-child {
  border-right: 1px solid #f7f8fd;
}
.portfolio_image_content div h4 {
  font-size: 2rem;
  font-family: 700;
}
.portfolio_image_content div p {
  font-size: 0.9rem;
  color: #f7f8fd;
}
.portfolio_list {
  display: grid;
  gap: 2rem;
}
.portfolio_list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.portfolio_list li span {
  background-color: #e5306f;
  width: 5rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.25rem;
}
.portfolio_list li div h4 {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #0e0d16;
}
.portfolio_list li div p {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  line-height: 1.5rem;
}

.feedback_container {
  padding-bottom: 3rem;
}
.feedback_container .section_header {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.feedback_container .swiper {
  padding-block: 4rem 2rem;
  width: 100%;
}
.feedback_container .swiper_slide {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  gap: 1rem;
}
.feedback_container .swiper_slide .feedback_card {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback_container .swiper_slide .feedback_card p {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}
.feedback_container .swiper_slide .feedback_card .user-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback_container .swiper_slide .feedback_card .feedback-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.feedback_container .swiper_slide .feedback_card .feedback-user img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.feedback_container .swiper_slide .feedback_card .feedback-user h4 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #0e0d16;
  margin: 0.5rem 0;
}
.feedback_container .swiper_slide .feedback_card .feedback-user h5 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #767268;
}
.feedback_container .swiper_slide .feedback_card .rating i {
  color: goldenrod;
}

.newsletter_container .newsletter_content {
  background-color: #e5306f;
  padding: 5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.newsletter_container .newsletter_content .section_header {
  color: #ffffff;
  margin-bottom: 2rem;
  max-width: 750px;
  margin-inline: auto;
  text-align: center;
  font-size: 3rem;
}
.newsletter_container .newsletter_content form {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0.25rem;
}
.newsletter_container .newsletter_content form input {
  flex: 1;
  padding-inline: 1rem;
  font-size: 1rem;
}

footer {
  background-color: #f7f8fd;
}
footer .footer_container {
  display: grid;
  gap: 4rem 2rem;
}
@media (min-width: 540px) {
  footer .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  footer .footer_container {
    grid-template-columns: repeat(5, 1fr);
  }
}
footer .footer_container .footer-container-col .footer_logo {
  display: block;
  margin-bottom: 2rem !important;
  font-size: 1.25rem;
  color: #0e0d16;
  font-weight: 800;
}
footer .footer_container .footer-container-col .footer_logo span {
  color: #e5306f;
}
footer .footer_container .footer-container-col .footer-desc {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  line-height: 1.5rem;
}
footer .footer_container .footer-container-col h3, footer .footer_container .footer-container-col h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0e0d16;
  margin-bottom: 1rem;
}
footer .footer_container .footer-container-col .footer_socials {
  display: flex;
  gap: 0.5rem;
}
footer .footer_container .footer-container-col .footer_socials a {
  padding: 4px 6px;
  border: 1px solid #e5306f;
  color: #e5306f;
  border-radius: 50%;
}
footer .footer_container .footer-container-col .footer_socials a:hover {
  background-color: #e5306f;
  color: #ffffff;
}
footer .footer_container .footer-container-col .footer_links {
  display: grid;
  gap: 1rem;
}
footer .footer_container .footer-container-col .footer_links a {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  display: flex;
  gap: 0.5rem;
}
footer .footer_container .footer-container-col .footer_links a:hover {
  color: #e5306f;
}
footer .footer_container .footer-container-col .footer_links i {
  color: #e5306f;
  font-size: 1.2rem;
}
footer .copyright {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ff8906;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.section_container {
  max-height: 1200px;
  margin: 0 auto;
  padding: 5rem 1rem;
}